kind: PersistentVolume
apiVersion: v1
metadata:
  name: zp-0
  labels:
    type: zp-storage
spec:
  storageClassName: hdfs-storage
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/zp"
