kind: PersistentVolume
apiVersion: v1
metadata:
  name: sm-0
  labels:
    type: sm-storage
spec:
  storageClassName: sm-storage
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/sm"
