kind: PersistentVolume
apiVersion: v1
metadata:
  name: nn-0
  labels:
    type: nn-storage
spec:
  storageClassName: nn-storage
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/nn"
