apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  name: nn
spec:
  rules:
  - host: nn.{{ domain }}
    http:
      paths:
      - backend:
          serviceName: nn
          servicePort: 50070
        path: /
