kind: PersistentVolume
apiVersion: v1
metadata:
  name: zk-0
  labels:
    type: zk-storage
spec:
  storageClassName: zk-storage
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/zk"
