apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: npi
spec:
  rules:
  - host: npi.{{ domain }}
    http:
      paths:
      - backend:
          serviceName: noderestapi
          servicePort: 3000
