---
apiVersion: v1
kind: Service
metadata:
  name: noderestapi
  labels:
    app: noderestapi
spec:
  ports:
    - port: 3000
      protocol: TCP
      targetPort: 3000
  selector:
    app: noderestapi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: noderestapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: noderestapi
  template:
    metadata:
      labels:
        app: noderestapi
    spec:
      containers:
      - name: noderestapi
        imagePullPolicy: Always
        image: dckreg:5000/noderestapi:1.0
        ports:
        - containerPort: 3000
        env:
        - name: KAFKA_BROKER_LIST
          value: "{{ kafka_broker_list }}"
        command:
        - sh
        - -c
        - npm start
